@import "tailwindcss";

@theme {
    --font-switzer: var(--font-switzer);
    --font-heading: var(--font-anton);
    --font-sans: var(--font-neue-montreal)
}

body {
    @apply bg-[#f9f9f9] font-switzer;
}

/* Hide scrollbar but keep scrolling */
html,
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
    scroll-behavior: smooth;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
}
